 <script>
 $(function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 3,
      min: 5,
      max: 1000,
      slide: function( event, ui ) {
        $( "#amount" ).val( ui.value );
      }
    });
    $( "#amount" ).val( $( "#slider-range-min" ).slider( "value" ) );
  });
  </script>

<p>
  <label for="amount">Sales goal</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider-range-min"></div>

<p id="campaign">
<strong>base cost</strong>
<%= @campaign.product.formatted_base_cost %>
</p>
<%= render 'form' %>
